html,
body,
.ui-page {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
.ui-page {
  --scale-factor: 1;
}
/* ui-row */
.ui-row {
  position: relative;
  box-sizing: border-box;
}
.ui-row--flex {
  display: flex;
}
.ui-row--flex::before {
  display: none;
}
.ui-row--flex::after {
  display: none;
}
.ui-row--flex__main-axis-center {
  justify-content: center;
}
.ui-row--flex__cross-axis-center {
  align-items: center;
}
.ui-row::before,
.ui-row::after {
  display: table;
  content: "";
}
.ui-row::after {
  clear: both;
}
/* ui-col */
[class*=ui-col-] {
  float: left;
  box-sizing: border-box;
}
.ui-col-1 {
  width: calc(100%/24*1);
}
.ui-col-2 {
  width: calc(100%/24*2);
}
.ui-col-3 {
  width: calc(100%/24*3);
}
.ui-col-4 {
  width: calc(100%/24*4);
}
.ui-col-5 {
  width: calc(100%/24*5);
}
.ui-col-6 {
  width: calc(100%/24*6);
}
.ui-col-7 {
  width: calc(100%/24*7);
}
.ui-col-8 {
  width: calc(100%/24*8);
}
.ui-col-9 {
  width: calc(100%/24*9);
}
.ui-col-10 {
  width: calc(100%/24*10);
}
.ui-col-11 {
  width: calc(100%/24*11);
}
.ui-col-12 {
  width: calc(100%/24*12);
}
.ui-col-13 {
  width: calc(100%/24*13);
}
.ui-col-14 {
  width: calc(100%/24*14);
}
.ui-col-15 {
  width: calc(100%/24*15);
}
.ui-col-16 {
  width: calc(100%/24*16);
}
.ui-col-17 {
  width: calc(100%/24*17);
}
.ui-col-18 {
  width: calc(100%/24*18);
}
.ui-col-19 {
  width: calc(100%/24*19);
}
.ui-col-20 {
  width: calc(100%/24*20);
}
.ui-col-21 {
  width: calc(100%/24*21);
}
.ui-col-22 {
  width: calc(100%/24*22);
}
.ui-col-23 {
  width: calc(100%/24*23);
}
.ui-col-24 {
  width: calc(100%/24*24);
}
/* ui-card */
.ui-card {
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  transition: 0.3s;
  box-shadow: calc(var(--scale-factor) * 2px) calc(var(--scale-factor) * 2px) calc(var(--scale-factor) * 12px) 0 rgba(0, 0, 0, 0.1);
}
.ui-card__title {
  text-align: left;
  padding-left: calc(var(--scale-factor) * 15px);
  font-size: calc(var(--scale-factor) * 18px);
  color: #333;
  line-height: calc(var(--scale-factor) * 24px);
}
/* ui-button */
.ui-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: calc(var(--scale-factor) * 12px) calc(var(--scale-factor) * 20px);
  font-size: calc(var(--scale-factor) * 14px);
  border-radius: calc(var(--scale-factor) * 4px);
}
.ui-button--text {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
/* ui-image */
.ui-image {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.ui-round-image-text {
  display: inline-block;
}
.ui-round-image-text .ui-image {
  display: block;
}
.ui-round-image-text img {
  display: inline-block;
  line-height: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.ui-round-image-text .ui-text {
  font-size: calc(var(--scale-factor) * 14px);
}
